<!DOCTYPE html>
<html>
     <head>
          <title>CampingIsFun</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
          
          <link rel="stylesheet" href="/stylesheets/main.css">
     </head>
     <body>
           <div class="header-outs inner_page-banner" id="home">
            <!-- header -->
            <div class="headder-top">
                <!-- nav -->
                <nav>
                    <div id="logo">
                        <img src="/images/fun.png" alt="CIF logo" height="50">
                        <h1>
                            <a href="/">Camping Is Fun ......</a>
                        </h1>
                    </div>
                  
                    <ul class="menu mt-2">
                         <li class="active">
                            <a href="/">Home</a>
                        </li>
                          <%if(!currentUser){%>
                              <li><a href="/login">Login</a></li>
                              <li><a href="/register">Sign Up</a></li>
                         <%}
                         else{%>
                              <li><a href="#">Signed In As <%=currentUser.username%></a></li>
                              <li><a href="/logout">Logout</a></li>
                         <%}%>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
            <!-- //header -->
            <!-- banner -->
            <div>
                <div class="container-fluid">
                    <div class="style-banner_2">
                        <h4>This is the campgrounds page</h4>
                        <div>
                            <a href="/campgrounds/new" class="btn btn-lg btn-success">Add new campground</a>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
        
          <div class="container">
               <%if(error && error.length>0){%>
                    <div class="alert alert-danger" role="alert">
                         <%=error%>
                    </div>
               <%}%>
               <%if(success && success.length>0){%>
                <div class="alert alert-success" role="alert">
                    <%=success%>
               </div>
               <%}%>
          </div>
 


<div class="container" id="display">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <%if(campgrounds){
          campgrounds.forEach(function(campground){%>
               <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                           <img src="<%=campground.image%>">
                           <div class="caption">
                                <h4><strong><%=campground.name%></strong></h4>
                           </div>
                           <p>
                                <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                           </p>
                    </div>
               </div>
          <%});
     }%>
    </div>
     
    
</div>
<% include ../partials/footer%>